body{
    margin:0;
    padding:0;
}

/* ================== BACKGROUND IMAGE AND ITS DESIGN ============= */
.flower_image{
    background-image: url("img/angelica-echeverry-PGofPoqwN-w-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* ================== NAVBAR DESIGN ============= */

nav{
    background-color: #3e3d3d;
    padding: 10px;
    margin:0;
}

.nav-header {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }

     /* ===================== INPUT BUTTON DESIGN ==================== */

     .content {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      width: 70%;
      height: 70%;
      max-width: 600px;
      background-color: rgba(0, 0, 0, 0.6); 
      color: #fff;
      margin:20px auto;
      overflow: hidden;
      padding: 20px;  
    box-sizing: border-box; 
}
  

   /* ===================== INPUT BUTTON DESIGN ==================== */

   .input-container{
    display:flex;
    align-items: center;
  }

  .input-container input[type="file"] {
    display: none;
  }
  
  input#input_flower:hover {
    border-color: #aaa;
    background-color: #fcfcfc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

  /* ===================== UPLOADED IMAGE DESIGN ==================== */

  #label_flower {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .uploaded-image {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    max-height: 300px; 
    overflow: hidden; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .uploaded-image img {
    width: 100%;
    height: auto;
  }

  .flower-image {
    display: block;
    max-width: 100%;
    max-height: 220px; 
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .flower-image-default {
    font-size: 16px;
    color: #aaa;
  }
  
  #input_flower {
    display: none;
  }
  

/*================== BUTTON DESIGN ========== */
.button-inside {
    margin-left: 15px;
    display: block;
    padding: 10px 15px;
    background-color: #4199f6;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width:120px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }

.button-inside:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.upload-button {
  display: block;
  padding: 10px 15px;
  background-color: #4199f6;
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width:120px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.upload-button:hover {
  background-color: #45a049;
}

.button-inside:hover,
.upload-button:hover {
  background-color: #c92c39;
  color: white;
}

.button-inside:active,
.upload-button:active {
  background-color: #a61925;
}

 /*=============== TABLE DESIGN ================= */
 .table-container {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80%;
  max-width: 600px; 
  max-height: 600px;
  margin:  auto;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table td {
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}




